<h1 mat-dialog-title>Generate PDF Details</h1>

<mat-dialog-content>

  <!-- Select Type -->
  <div>
    <p>Please decide the type you want to export</p>
    <mat-form-field appearance="outline" [formControl]="typeControl">
      <mat-label>Type</mat-label>
      <mat-select required [(ngModel)]="type" [value]="type">
        <mat-option value="dlm">DLM</mat-option>
        <mat-option value="dvm">DVM</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <!-- Select text (only if DVM has been selected) -->
  <div>
    <p>If you selected DVM, please also provide a proper title</p>
    <mat-form-field appearance="outline" [formControl]="titleControl">
      <mat-label>Title</mat-label>
      <input matInput [formControl]="titleControl" [(ngModel)]="title" [required]="type=='dvm'" [disabled]="type!='dvm'" >
      <mat-error *ngIf="titleControl.hasError('required')">A title is required for DVM!</mat-error>
    </mat-form-field>
  </div>

  <!-- Select Purpose (only if DLM has been selected) -->
  <div>
    <p>If you selected DLM, please also decide whether you want to generate ANREISE or RUNDE exports</p>
    <mat-form-field appearance="outline">
      <mat-label>Purpose</mat-label>
      <mat-select [formControl]="purposeControl" [(ngModel)]="purpose" [value]="purpose" [required]="type=='dlm'" [disabled]="type!='dlm'" >
        <mat-option value="anreise">Anreise</mat-option>
        <mat-option value="runde">Runde</mat-option>
      </mat-select>
      <mat-error *ngIf="purposeControl.hasError('required')">A purpose is required for DLM!</mat-error>
    </mat-form-field>
  </div>

</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button (click)="onOkClick()">Ok</button>
</mat-dialog-actions>
